.container {
    /*
    background-color: #201576;
    background-image: url(../img/more-leaves.png);
    background-repeat: no-repeat;
    background-position: center center;
    */
    background-image: linear-gradient(#201576,#9468DE);
    /*
    background-image: url(../img/esb.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
}

nav {
    background-color: #C8C5DD;
    width: 100%;
    position: fixed;
    border: 10px #908ABB solid;
    font-family: arial, sans-serif;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding-right: 10%;
}

li:hover {
    background-color: white;
    transition: 2s;
}

a:link {
    color: black;
}
/*tag is not working?*/

a:visited {
    /*color: fuchsia;*/
}

a:hover {
    color: darkred;
}

.title {
    text-align: center;
    color: white;
    visibility: visible;
}

#title {
    font-family: "Special Gothic Expanded One", sans-serif;
}

.mainimage {
    height: auto;
    width: auto;
}

h1 {
    font-family: courier;
}

h2 {
    font-family: courier;
    text-decoration: underline;
    font-size: 20px;
}

h3 {
    font-family: courier;
    font-size: 20px;
}

p {
    font-family: arial, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#float {
    float: left;
    padding: 20px;
    margin-left: 20px;
}

#clear {
    clear: left;
    margin-left: 40px;
    color: white;
}

blockquote {
    font-family: arial, sans-serif;
    color: white;
}

* {
  box-sizing: border-box;
}

.row1 {
  display: flex;
}

.row2 {
  display: flex;
}

.row3 {
    display: flex;
}

/* three equal columns that sit next to each other */
.column1 {
  flex: 33.33%;
  padding: 5px;
}

.column2 {
  flex: 33.33%;
  padding: 5px;
}

/* two equal columns that sit next to each other */
.column3 {
  flex: 50%;
  padding: 5px;
}

#leftcolumn {
  background-color: #FEF296;
  color: black;
  padding: 40px;
  text-align: center;
  margin: 20px;
} 

#middlecolumn {
  background-color: #FEF296;
  color: black;
  padding: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
} 

#rightcolumn {
  background-color: #FEF296;
  color: black;
  padding: 40px;
  text-align: center;
  margin: 20px;
} 

#trailerleft {
  padding-top: 80px;
  padding-bottom: 20px;

  padding-right: 20px;
  text-align: center;
  margin: 20px;
} 

#textright {
  background-color: white;
  padding: 40px;
  text-align: center;
  margin: 20px;
  box-shadow: 10px 15px;
} 

.cast {
  background-color: #FEF296;
  color: black;
  padding: 20px;
  text-align: center;
  margin: 20px;
}

#firstcolumn {
  background-color: #FEF296;
  color: black;
  padding: 40px;
  text-align: center;
  margin: 20px;
} 

#secondcolumn {
  background-color: #FEF296;
  color: black;
  padding: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
} 

#thirdcolumn {
  background-color: #FEF296;
  color: black;
  padding: 40px;
  text-align: center;
  margin: 20px;
} 


.stars{
    /*transform:rotate(45deg);*/
    animation-name: movement;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*animation-delay: 2s;*/
    z-index: -1;
}
@keyframes movement{
    0%, 100% {
        transform:
        translate(0,0);
    }
    50% {
        transform:
        translate(400px, 0);
    }
}

video {
    height: 400px;
    display: block;
margin: 0 auto;
    padding: 40px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 5px solid white;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#form {
    font-family: arial, sans-serif;
    color: white;
}

@media all and (min-width: 320px) and (max-width: 780px) {
    body{
        background-color: pink;
    }  
}

@media all and (min-width: 681px) and (max-width: 1080px) {
     body{
        background-color: orange;
    }    
}

@media all and (min-width: 881px) and (max-width: 1080px) {
     body{
        background-color: yellow;
    }    
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #abbaba;
  color: #000;
}